/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  /* margin-top: 100px; */

.footer {
  justify-content: center;
  margin-top: 90px;
}

.footer_item {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin: 10;
}

.d-block {
  display: block !important;
  margin-top: -100px;
  width: 60%;
  justify-content: center;
  margin-left: 270px;
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.container-login {
  margin: auto;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-email,
.login-google {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login-email label,
.login-google label {
  margin-bottom: 10px;
}
.login-email input,
.login-google button {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-content {
  margin: auto;
}
.login-bottom {
  margin: auto;
  font-weight: 900;
}
.login-email button {
  margin-top: 20px;
  height: 40px;
  border: none;
  background-color: #198754;
  color: white;
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  color: black;
  margin: 10px;
  background-color: white;
  margin-bottom: 20px;
}

/* css cua trang login  */

.login {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 100px;
}
.container-login {
  margin: auto;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-email,
.login-google {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login-email label,
.login-google label {
  margin-bottom: 10px;
}
.login-email input,
.login-google button {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-content {
  margin: auto;
}
.login-bottom {
  margin: auto;
  font-weight: 900;
  border-radius: 10px;
}
.login-email button {
  margin-top: 20px;
  height: 40px;
  border: none;
  background-color: #198754;
  color: white;
  border-radius: 10px;
}
/* fomr register */
.form-register {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-top: 50px;
  border-radius: 20px;
  width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.register {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.register input {
  outline: none;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  padding: 10px;
}
.register label {
  margin-top: 12px;
}
.form-register button {
  margin-top: 30px;
  height: 50px;
  border-radius: 10px;
  width: 120px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #d9534f;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
}
.form-register span {
  margin-left: 30%;
  margin-top: 10px;
}

/* pagination */

.page-item.active,
.page-link {
  z-index: 3;
  color: #fff;
  background-color: none;
  border: none;
  border-color: none;
  align-self: flex-end;
  border-radius: 10px;
  cursor: pointer;
}
